<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ModularityCheck"
            id="br.ufmg.dcc.labsoft.aserg.modularitycheck">
      </category>
      <view
            name="ModularityCheck"
            icon="icons/sample.gif"
            category="br.ufmg.dcc.labsoft.aserg.modularitycheck"
            class="br.ufmg.dcc.labsoft.aserg.modularitycheck.views.ModularityCheck"
            id="br.ufmg.dcc.labsoft.aserg.modularitycheck.views.ModularityCheck">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="br.ufmg.dcc.labsoft.aserg.modularitycheck.views.ModularityCheck">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
